<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ページ分析アプリ - t-SNE可視化</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link href="https://fonts.googleapis.com/css?family=Philospher" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'page_analysis_app/style.css' %}">
    </head>

    <header class="page-header wrapper">  
        <h1>プログラミング4の課題</h1>
        <a href="https://133.102.45.60:80/~s5023155/">自己紹介トップに戻る</a>
    </header>

    <body>

        <h1>ページ分析アプリ - t-SNE可視化</h1>

        {% if error_message %}
            <p style="color:red;">{{ error_message }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <label for="url">URLを入力してください:</label><br>
            <input type="url" name="url" id="url" required style="width: 300px;"><br><br>
            <button class="analize" type="submit">解析する</button>
        </form>

        {% if result_text %}
            <h2>取得したテキスト</h2>
            <div class="result_text_area">{{ result_text }}</div>
        {% endif %}

        {% if plot_image %}
            <h2>使われている単語の可視化(word2vec訓練後、t-sneで2次元にして可視化)</h2>
            <img src="data:image/png;base64,{{ plot_image }}" alt="t-SNE Plot">
        {% endif %}

        <footer class="page-footer">©2024　 Takeuchi Yamato</footer>
    </body>
</html>
